.mainheading{
    color: #1b75bb;
    font-weight: 700;
    font-family: Rubik,sans-serif;
    line-height: 30%;
}
body{
    text-align: center;
}
.subheading{
    font-family: Rubik,sans-serif;
    line-height: 100%;
    color: #555;
    margin-left: 24%;
    margin-right: 24%;
}
.wrapper{
    display: flex;
    align-items: center;
}
.inner{
    display: flex;
    width: 700px;
    color: #555;
   height: 230px;
   padding-left: 250px;
}
.list{
    flex: 1;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
    line-height: 130%;
    box-shadow: 0 8px 25px rgba(0,0,0,.1);
}
.button-list{
    color: rgb(27, 117, 187);
    border: 1px solid rgb(27, 117, 187);
    background-color: rgba(27, 117, 187, 0.05);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  .color0{
    color: rgb(126, 92, 48);
  }
  .color1{
    color: rgb(68, 86, 87);
  }
  .color2{
    color: rgb(138, 27, 27);
  }
  .color3{
    color: rgb(143, 38, 127);
  }
  .color4{
    color: rgb(10, 114, 15);
  }
  .color5{
    color: rgb(5, 5, 53);
  }
  .colorb0{
    color: rgb(151, 124, 88);
    border: 1px solid  rgb(245,155,39);
  }
  .colorb1{
    color: rgb(147, 197, 199);
    border: 1px solid  rgb(35,248,255);
  }
  .colorb2{
    color: rgb(99, 88, 88);
    border: 1px solid  rgb(255,64,64);
  }
  .colorb3{
    color: rgb(109, 45, 99);
    border: 1px solid  rgb(255,95,231);
  }
  .colorb4{
    color: rgb(112, 146, 114);
    border: 1px solid  rgb(79,255,88);
  }
  .colorb5{
    color: rgb(103, 103, 177);
    border: 10px solid  rgb(84,84,255);
  }  